matplotlib==3.8.0
pandas==2.1.2
python-dotenv==1.0.0
tqdm==2.2.3
scapy==2.5.0
SQLAlchemy==2.0.22
PyQt5==5.15.10
alembic~=1.12.1
psutil==5.9.6
pytest==7.4.3
black==23.11.0
mypy==1.7.0
PyQt5-stubs==5.15.6.0
PyQt-Fluent-Widgets==1.6.5
frida==16.4.10

icecream~=2.1.3