appdirs==1.4.4
bottle==0.12.25
bottle-websocket==0.2.9
cffi==1.16.0
contourpy==1.1.1
cycler==0.12.1
Eel==0.16.0
fonttools==4.43.1
future==0.18.3
gevent==23.9.1
gevent-websocket==0.10.1
greenlet==3.0.1
kiwisolver==1.4.5
lxml==4.9.3
matplotlib==3.8.0
numpy==1.26.1
packaging==23.2
pandas==2.1.2
Pillow==10.1.0
protobuf==4.21.12
pycparser==2.21
pyparsing==3.1.1
python-dateutil==2.8.2
pytz==2023.3.post1
pywin32==306
six==1.16.0
termcolor==2.3.0
tzdata==2023.3
whichcraft==0.6.1
zope.event==5.0
zope.interface==6.1
db-sqlite3==0.0.1
Jinja2==3.1.2
python-dotenv==1.0.0
tqdm==2.2.3
scapy==2.5.0
