body{
    background-color: black;
    color: wheat;
}

#content
{
    padding: 10px;
}

.add_item {
    padding: 10px;
}

.add_item label{width: 150px;}
.add_item input{width: 150px;}

#name_item{
    width: 306px;
}

label[for=center_label]{
    text-align: center
}
