body{
    background-color: black;
    color: wheat;
}

#content
{
    padding: 10px;
}

.add_item {
    padding: 10px;
}

.add_item label{width: 150px;}
.add_item input{width: 150px;}

#name_item{
    width: 306px;
}

label[for=center_label]{
    text-align: center
}

.square-item
{   
    position: relative;
    height: 770px;
    border: 3px solid gray;
}

.text-center
{
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.skipButton
{
    background-color: grey;
}