body {
    font-family: Arial;
    background-color: black;
}

.vertical-menu-left {
    display: flex;
    justify-content: space-between;
    height: 6em;
    width: 100%;
    background-color: #364240;
    border-radius: 10px;
}

.vertical-menu-item {
    cursor: pointer;
    text-align: center;
    padding: 5px;
    margin-left: 50px;
    margin-right: 50px;
    margin-top: 5px;
    margin-bottom: 5px;
    background-color: lightgreen;
    border-radius: 5px;
    width: 100px;
}

.vertical-menu-item:hover {
    background-color: green;
}


.vertical-menu-item i {
    font-size: 30px;
}