{% extends 'base.html' %}
{% block title %}
    Add Item
{% endblock %}
{% block content %}
    <div class="add_item">
        <label>Name : </label>
        <input type="text" id="name_item">
        <button type="button" onclick="update_item();" class="btn btn-outline-success" style="height:34px; width:145px;">Ajouter</button>
        <br>
        <label>Type Rune</label>
        <label for="center_label" >Valeur</label><label for="center_label">Ligne</label for="center_label"><label for="center_label">Colonne</label><br>
        <div id="inserted_item">
        </div>
    </div>
    <script>
        item = JSON.parse(localStorage.getItem("item"));
        let inserted_item = document.getElementById("inserted_item");
        for (line of item)
        {   
            let lineDiv = document.createElement("div");
            lineDiv.setAttribute("id", line['type']);

            let typeLabel = document.createElement("label");
            typeLabel.appendChild(document.createTextNode(`${line['type']}`))
            typeLabel.setAttribute("id", "Type");
            lineDiv.appendChild(typeLabel);

            let valueInput = document.createElement("input");
            valueInput.setAttribute("id", "Value");
            valueInput.value = `${line['value']}`;
            lineDiv.appendChild(valueInput);

            let lineInput = document.createElement("input");
            lineInput.setAttribute("id", "Line");
            lineDiv.appendChild(lineInput);

            let columnInput = document.createElement("input");
            columnInput.setAttribute("id", "Column");
            lineDiv.appendChild(columnInput);

            let SkipButton = document.createElement("button");
            let name_line = line['type']
            SkipButton.setAttribute("class", "skipButton")
            SkipButton.setAttribute("id", name_line);
            SkipButton.innerHTML = "<svg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='white' class='bi bi-x' viewBox='0 0 16 16'><path d='M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z'/></svg>"
            SkipButton.onclick = function(event) {
                document.getElementById(name_line).remove()
              }
            lineDiv.appendChild(SkipButton);

            inserted_item.append(lineDiv);
        }
    </script>
{% endblock %}
