<!DOCTYPE html>
<html lang="en">

<head>
  <link rel="shortcut icon" type="image/x-icon" href="../assets/images/icone-ankama-modified.svg" />
  <link rel="stylesheet" type="text/css" href="../css/style.css" />
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta name="google" content="notranslate" />
  <script src="https://kit.fontawesome.com/64a518327e.js" crossorigin="anonymous"></script>
  <title>Bot FM</title>
</head>

<body>
  <div class="vertical-menu-left">
    <div class="vertical-menu-item" onclick="redirect('home.html')">
      <i class="fa-solid fa-house"></i>
      <h3>Home</h3>
    </div>
    <div class="vertical-menu-item" onclick="redirect('waiting_item.html')">
      <i class="fa-solid fa-square-plus"></i>
      <h3>Add Item</h3>
    </div>
    <div class="vertical-menu-item" onclick="redirect('start_item.html')">
      <i class="fa-solid fa-play"></i>
      <h3>Start Item</h3>
    </div>
    <div class="vertical-menu-item" onclick="redirect('stats.html')">
      <i class="fa-solid fa-chart-simple"></i>
      <h3>Stats</h3>
    </div>
  </div>
  <div id="content">{% block content %} {% endblock %}</div>
  <!-- common JS files -->
  <script type="text/javascript" src="/eel.js"></script>
  <script type="text/javascript" src="../js/add_item.js"></script>
  <script type="text/javascript" src="../js/start_item.js"></script>
  <script type="text/javascript" src="../js/utils.js"></script>
  <!-- Specific Page JS goes HERE  -->
  {% block javascripts %}{% endblock javascripts %}
</body>

</html>