{% extends 'base.html' %}
{% block title %}
    Start Item
{% endblock %}
{% block content %}
    <table class="table table-success table-striped-columns" id="liste_items">
        <thead>
          <tr>
            <th scope="col">Name</th>
            <th scope="col">Attempt</th>
            <th scope="col">Average Price</th>
          </tr>
        </thead>
        <tbody>
        </tbody>
      </table>
    
{% endblock %}
{% block javascripts %}
    <script>
        //FIXME
        eel.get_all_items()(display_item)
    </script>
{% endblock %}

    