QLabel {
    font-size: 14px;
}

QGroupBox#not-title{
    padding-top:0x;
}

QPushButton#inactive {
    background-color: rgb(53, 53, 53)
}

QPushButton#active{
    background-color: rgb(80, 80, 80)
}
